:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;

    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;


    --logo-first: var(--iris);
    --color-primary: var(--navy-blue);
    --color-secondary: var(--cloud);
    --button-background: var(--iris);
    --color-active: var(--ocean);
    --color-paragraph: var(--slate);
}

body {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-primary);
    background-color: var(--white);
    font-family: var(--font-family);
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: var(--white);
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}

button {
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--white);
    background: var(--button-background);
    cursor: pointer;
}

button:hover,
button:active {
    background: var(--color-active);
}

p {
    color: var(--color-paragraph)
}

a {
    font-weight: 500;
    color: var(--color-primary);
}

footer .logo {
    color: var(--white);
}

a:hover,
a:active,
a:focus {
    color: var(--color-active);
}

.logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--color-primary);
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo>span {
    color: var(--logo-first);
}

#studio {
    background: var(--color-primary);
}

#team {
    background: var(--cloud);
}

#team li {
    background: var(--white);
}

footer {
    background: var(--color-primary);
}

footer>p {
    color: var(--color-secondary);
}